---
layout: departments/layout-compsci
title: Computer Science - Staff
permalink: /cs/cs-staff.html/
---
{% assign cs_staff = site.people | where:"department", "Computer Science" %}
{% assign curr_letter = " " %}

<div class="container mtb">

    <div class="col-md-8">

        <h3>THE TEAM BEHIND COMPUTER SCIENCE</h3>
        
        
        
        {% capture staffmembers %}
          {% for staffmember in cs_staff %}
            |{{ staffmember.lname }}#{{ staffmember.fname }}#{{ staffmember.prefix }}#{{ staffmember.position }}#{{ staffmember.url }}
          {% endfor %}
        {% endcapture %}
        {% assign sortedstaff = staffmembers | split: '|' | sort %}
        
        <div class="list-group">
        
        
        {% for staff in sortedstaff %}
            {% assign staffitems = staff | split: '#' %}
            
            <a href="{{ staffitems[4] }}" class="list-group-item">{{ staffitems[2] }} {{ staffitems[1] }} {{ staffitems[0] }}
            <span class="badge">{{ staffitems[3] }}</span></a>
        {% endfor %}
            
        </div>
        

    </div>

</div>