---
layout: default
title: Computer Science - Staff
permalink: /cs/staff.html/
---
<div class="container mtb">
  
	<div class="row centered">

	<!-- PAGE CONTENT -->
	<div class="col-lg-8 col-md-8">

        <h1>STAFF PROFILES</h1>
        <br/>	
		
		<!-- ADMINISTRATIVE STAFF -->
		<h3>ADMINISTRATIVE STAFF</h3>
        <br/>
		
		<div class="row">
			<!-- MS MASHADI SECTION -->	
			<div class="col-lg-6 col-sm-6 col-sm-6">
				<div class="thumbnail">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
						
							<div class="portfolio-item graphic-design">
								<div class="he-wrap tpl6">
									<img src="/cs/img/staff/csteam_gmas.png" alt="Ms. G. Mashadi">
									<div class="he-view">
										<div class="bg a0" data-animate="fadeIn">
											<h3 class="a1" data-animate="fadeInDown">CONTACT ME</h3>
											<h6 class="a1" data-animate="fadeInUp">E-Mail: mashadig@mopipi.ub.bw</h6>
											<h6 class="a1" data-animate="fadeInUp">Phone: (+267)355-2130</h6>
											<h6 class="a1" data-animate="fadeInUp">Office: Block 232, Office 225</h6>
										</div><!-- he bg -->
									</div><!-- he view -->
								</div><!-- he wrap -->
							</div><!--portfolio-item graphic-design-->
							
						</div> <!-- col -->	
					</div> <!-- row -->
					
					<div class="row">
						<div class="caption">
							<h3>Ms. G. Mashadi</h3>
							<h3>PERSONAL SECRETARY</h3>
							<br>
						</div>
					</div> <!-- row -->
					
				</div> <!-- thumbnail -->
			</div> <!-- col-lg-6 col-sm-6 col-sm-6 -->
			<!-- END OF MS MASHADI SECTION -->
			
			<!-- MS MOOKETSI SECTION -->
			<div class="col-lg-6 col-sm-6 col-sm-6">
				<div class="thumbnail">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
						
							<div class="portfolio-item graphic-design">
								<div class="he-wrap tpl6">
									<img src="/cs/img/staff/csteam_km.png" alt="Ms. K. Mooketsi">
									<div class="he-view">
										<div class="bg a0" data-animate="fadeIn">
											<h3 class="a1" data-animate="fadeInDown">CONTACT ME</h3>
											<h6 class="a1" data-animate="fadeInUp">E-Mail: kefilwe.mooketsi@mopipi.ub.bw</h6>
											<h6 class="a1" data-animate="fadeInUp">Phone: (+267)355-4791</h6>
											<h6 class="a1" data-animate="fadeInUp">Office: Block 232, Office 233</h6>
										</div><!-- he bg -->
									</div><!-- he view -->
								</div><!-- he wrap -->
							</div><!--portfolio-item graphic-design-->
						
						</div> <!-- col -->	
					</div> <!-- row -->
					
					<div class="row">
						<div class="caption">
							<h3>Ms. K. Mooketsi</h3>
							<h3>SECRETARY</h3>
							<br>
						</div>
					</div> <!-- row -->
					
				</div> <!-- thumbnail -->
			</div> <!-- col-lg-6 col-sm-6 col-sm-6 -->
			<!-- END OF MS MOOKETSI SECTION -->

		</div> <!-- row -->
		<!-- END OF ADMINISTRATIVE STAFF ->
		
		
		<!-- SENIOR LECTURERS -->
		<br/>
		<h3>SENIOR LECTURERS</h3>
        <br/>
		
		<div class="row">
            
            {% for person in site.data.cs_senior_staff %}

			<!-- PROF EACH LECTURER SECTION -->
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
					
							<div class="portfolio-item graphic-design">
								<div class="he-wrap tpl6">
									<img class="staff_img" src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ person.img }}	" alt={{person.full_name}}>
									<div class="he-view">
										<div class="bg a0" data-animate="fadeIn">
											<h3 class="a1" data-animate="fadeInDown">CONTACT ME</h3>
											<h6 class="a1" data-animate="fadeInUp">E-Mail: {{person.email}}</h6>
											<h6 class="a1" data-animate="fadeInUp">Phone: {{person.email}}</h6>
											<h6 class="a1" data-animate="fadeInUp">Office: {{person.email}}</h6>
										</div><!-- he bg -->
									</div><!-- he view -->
								</div><!-- he wrap -->
							</div><!--portfolio-item graphic-design-->
							
						</div> <!-- col -->	
					</div> <!-- row -->
					
					<div class="row">
						<div class="caption">
							<h4>{{page.prefix}} {{person.full_name}}</h4>
							<h4>{{person.position}}</h4>
							<br>          
							<a href="{{ person.full_name | datapage_url: 'people' }}">View Full Profile</a>
						</div>
					</div> <!-- row -->
					
				</div> <!-- thumbnail -->
			</div> <!-- col-lg-6 col-sm-6 -->
			<!-- END OF EACH LECTURER SECTION -->
		  {% endfor %}		
		</div> <!-- row -->
		<!-- END OF SENIOR LECTURERS -->
        
        <!-- LECTURERS -->
        <h3>LECTURERS</h3>
        <br/>
        <div class="row">
            
            {% for person in site.data.cs_staff %}

			<!-- PROF EACH LECTURER SECTION -->
			<div class="col-lg-6 col-sm-6">
				<div class="thumbnail">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
					
							<div class="portfolio-item graphic-design">
								<div class="he-wrap tpl6">
									<img class="staff_img" src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ person.img }}	" alt={{person.full_name}}>
									<div class="he-view">
										<div class="bg a0" data-animate="fadeIn">
											<h3 class="a1" data-animate="fadeInDown">CONTACT ME</h3>
											<h6 class="a1" data-animate="fadeInUp">E-Mail: {{person.email}}</h6>
											<h6 class="a1" data-animate="fadeInUp">Phone: {{person.phone}}</h6>
											<h6 class="a1" data-animate="fadeInUp">Office: {{person.office}}</h6>
										</div><!-- he bg -->
									</div><!-- he view -->
								</div><!-- he wrap -->
							</div><!--portfolio-item graphic-design-->
							
						</div> <!-- col -->	
					</div> <!-- row -->
					
					<div class="row">
						<div class="caption">
							<h4>{{page.prefix}} {{person.full_name}}</h4>
							<h4>{{person.position}}</h4>
							<br>          
							<a href="{{ person.full_name | datapage_url: 'people' }}">View Full Profile</a>
						</div>
					</div> <!-- row -->
					
				</div> <!-- thumbnail -->
			</div> <!-- col-lg-6 col-sm-6 -->
			<!-- END OF EACH LECTURER SECTION -->
		  {% endfor %}		
		</div> <!-- row -->
		<!-- END OF LECTURERS -->
        
        <!-- TECHNICAL STAFF -->
        <h3>TECHNICAL STAFF</h3>
        <br/>
        <div class="row">
            
            {% for person in site.data.cs_staff %}
<div class="clearfix visible-bg"></div>
			<!-- PROF EACH TECHNICAL STAFF SECTION -->
			<div class="col-lg-6 col-sm-6">
				<div class="thumbnail">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
					
							<div class="portfolio-item graphic-design">
								<div class="he-wrap tpl6">
									<img class="staff_img_pc" src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ person.img }}	" alt={{person.full_name}}>
									<div class="he-view">
										<div class="bg a0" data-animate="fadeIn">
											<h3 class="a1" data-animate="fadeInDown">CONTACT ME</h3>
											<h6 class="a1" data-animate="fadeInUp">E-Mail: {{person.email}}</h6>
											<h6 class="a1" data-animate="fadeInUp">Phone: {{person.email}}</h6>
											<h6 class="a1" data-animate="fadeInUp">Office: {{person.email}}</h6>
										</div><!-- he bg -->
									</div><!-- he view -->
								</div><!-- he wrap -->
							</div><!--portfolio-item graphic-design-->
							
						</div> <!-- col -->	
					</div> <!-- row -->
					
					<div class="row">
						<div class="caption">
							<h4>{{page.prefix}} {{person.full_name}}</h4>
							<h4>{{person.position}}</h4>
							<br>          
							<a href="{{ person.full_name | datapage_url: 'people' }}">View Full Profile</a>
						</div>
					</div> <!-- row -->
					
				</div> <!-- thumbnail -->
			</div> <!-- col-lg-6 col-sm-6 -->
			<!-- END OF EACH LECTURER SECTION -->
		  {% endfor %}		
		</div> <!-- row -->
		<!-- END OF TECHNICAL -->
	</div> <!-- col-lg-8 col-md-8 col-sm-8 -->
	<!-- END OF PAGE CONTENT -->
	
	<!--SIDEBAR-->
	{% cs-sidebar.html %}
	
	</div><!--row centered-->
  
</div>
