---
layout: index
title: Home
permalink: /
---

<!-- Presentation SECTION -->
<div class="container mtb" id="presentation">
    
    <!-- Presentaiton SECTION -->
    <div class="row">
        <!-- CAROUSEL -->
        {% include home_page_carousel.html %}
    </div>
    
</div>
<!-- /Presentation SECTION -->

<!-- Departments , Research & News -->
<div class="container mtb">
    
    <div class="row" id="drn">

        <!-- Departments SECTION-->
        <div class="col-lg-4">
            <div class="departments-section">

                <div class="panel panel-news-events">
                    <div class="panel-heading">
                        <h3 class="panel-title">RESEARCH</h3>
                    </div>
                    <div class="panel-body">
                        <div class="department" id="bio_dep_home">
                            <p>BIOLOGICAL SCIENCE</p>
                        </div>
                        <div class="department" id="chem_dep_home">
                            <p>CHEMISTRY DEPARTMENT</p>
                        </div>
                        <div class="department" id="cs_dep_home">
                            <p>COMPUTER SCIENCE</p>
                        </div>
                        <div class="department" id="env_dep_home">
                            <p>ENVIRONMENTAL SCIENCE</p>
                        </div>
                        <div class="department" id="geo_dep_home">
                            <p>GEOLOGY</p>
                        </div>
                        <div class="department" id="mat_dep_home">
                            <p>MATHEMATICS</p>
                        </div>
                        <div class="department" id="phy_dep_home">
                            <p>PHYSICS</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /Departments SECTION -->


        <!-- Research & People SECTION -->
        <div class="col-lg-4">
            
            <div class="people-section">

                <div class="panel panel-news-events">
                    <div class="panel-heading">
                        <h3 class="panel-title">STAFF</h3>
                        <a href="#" class="ribbon non-semantic-protector">
                        <strong class="ribbon-content">More Info</strong>
                    </a>
                    </div>
                    <div class="panel-body">
                        {% for post in site.categories['news'] limit:5 %}
                            <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
                        {% endfor %}
                    </div>  
                </div>


            </div>
            
            <div class="research-section">

                <div class="panel panel-news-events">
                    <div class="panel-heading">
                        <h3 class="panel-title">RESEARCH</h3>
                        <a href="#" class="ribbon non-semantic-protector">
                        <strong class="ribbon-content">More Info</strong>
                    </a>
                    </div>
                    <div class="panel-body">
                        {% for post in site.categories['news'] limit:5 %}
                            <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
                        {% endfor %}
                    </div>  
                </div>


            </div>

        </div>
        <!-- /Research SECTION -->


        <!-- News SECTION -->
        <div class="col-lg-4">
            <div class="news-section">
                <div class="panel panel-news-events">
                    <div class="panel-heading">
                        <h3 class="panel-title">LATEST NEWS</h3>
                        <a href="contact.html" class="ribbon non-semantic-protector">
                        <strong class="ribbon-content">More Info</strong>
                    </a>
                    </div>
                    <div class="panel-body">
                        {% for post in site.categories['news'] limit:5 %} 
                            <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="news-section">
                <div class="panel panel-news-events">
                    <div class="panel-heading">
                        <h3 class="panel-title">UPCOMING EVENTS</h3>
                        <a href="contact.html" class="ribbon non-semantic-protector">
                        <strong class="ribbon-content">All Events</strong>
                    </a>
                    </div>
                    <div class="panel-body">
                        {% for post in site.categories['events'] %}
                            <div class="event">
                                <a href="{{ post.url | prepend: site.baseurl }}" class="event-date">
                                    <span class="day">{{ post.day }}</span>
                                    <span class="month">{{ post.month }}</span>
                                </a>
                                <div class="event-description">
                                    <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /News SECTION -->

    </div>

</div>
<!-- /Departments , Research & News -->

<!-- Students , Vacancies -->
<div class="container mtb">
    
    <div class="row" id="sva">

        <!-- Students SECTION -->
        <div class="col-lg-8">
            
            <div class="students-section">

                <div class="panel panel-news-events">
                    <div class="panel-heading">
                        <h3 class="panel-title">FOR STUDENTS</h3>
                        <a href="#" class="ribbon non-semantic-protector">
                        <strong class="ribbon-content">More Info</strong>
                    </a>
                    </div>
                    <div class="panel-body">
                        {% for post in site.categories['news'] limit:5 %}
                            <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
                        {% endfor %}
                    </div>  
                </div>


            </div>

        </div>
        <!-- /Students SECTION -->


        <!-- Vacancies SECTION -->
        <div class="col-lg-4">
            <div class="news-section">
                <div class="panel panel-news-events">
                    <div class="panel-heading">
                        <h3 class="panel-title">VACANCIES &amp; JOB POSTS</h3>
                        <a href="contact.html" class="ribbon non-semantic-protector">
                        <strong class="ribbon-content">More Info</strong>
                    </a>
                    </div>
                    <div class="panel-body">
                        {% for post in site.categories['news'] limit:5 %} 
                            <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /Vacancies SECTION -->

    </div>

</div>
<!-- /Students , Vacancies & Partners -->


<!-- Clients SECTION -->
{% include clients.html %}
<!-- /Clients SECTION -->


<script>
    $("#owl-reviews").owlCarousel({

      autoPlay: 3000,
      stopOnHover: true,
      slideSpeed : 500,
      singleItem: true,
      pagination: true
    });
</script>