---
layout: index
title: Home
permalink: /
---

<div class="container mtb">
    
    <!-- Presentaiton SECTION -->
    <div class="section">
        <div class="row presentation">
            <!-- CAROUSEL -->
            {% include home_page_carousel.html %}
        </div>
    </div>
    
</div>
    
<div class="hline"></div>
    
<div class="container mtb">
        <!-- Departments , Research & News -->
        <div class="row space-top space-below" id="drn">
            
            <!-- Departments SECTION-->
            <div class="col-lg-4">
                <div class="departments-section">
                <ol>
                    <li>Computer Science</li>
                    <li>Biology</li>
                    <li>Chemistry</li>
                    <li>Physics</li>
                    <li>Geology</li>
                </ol>
                
            </div>
            <!-- /Departments SECTION -->
            
            
            <!-- Research SECTION -->
            <div class="col-lg-4">
                
                
            </div>
            <!-- /Research SECTION -->
            
            
            <!-- News SECTION -->
            <div class="col-lg-4">
                <div class="news-section">
                    <div class="panel panel-news-events">
                        <div class="panel-heading">
                            <h3 class="panel-title">LATEST NEWS</h3>
                        </div>
                        <div class="panel-body">
                            {% for post in site.categories['blog'] limit:5 %} 
                                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
                            {% endfor %}
                            <button type="button" class="btn btn-default btn-sm" style="float:right;">All News</button>
                        </div>
                    </div>
                </div>
                
                
                <div class="news-section">
                    <div class="panel panel-news-events">
                        <div class="panel-heading">
                            <h3 class="panel-title">UPCOMING EVENTS</h3>
                        </div>
                        <div class="panel-body">
                            {% for post in site.categories['question'] %} 
                                <p style="text-align:right"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
                            {% endfor %}
                            <button type="button" class="btn btn-default btn-sm" style="float:right;"><a href="#">All Events</a></button>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /News SECTION -->
            
        </div>
        <!-- Departments , Research & News -->
	
	

</div><!--/container -->


<!--DEPARTMENT SECTOR-->