<div class="container" style="margin:0 auto; width: 100%;">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
        </ol>

        <style>
            .carousel-image {
/*
                max-width: 100%;
                height: auto;
                background-size: auto;
*/
                min-height:4em;
            }
            .carousel-caption p {
                color: white;
                text-shadow: 0 0 6px #000000;
            }
        </style>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active" style="height: 300px;">
                <img src="/cs/img/gallery/cs-image.jpg" alt="img1" class="carousel-image img-responsive">
                <div class="carousel-caption">
                    <h3>Image 1</h3>
                    <p>The Second Picture To Our Super Cool Carousel.</p>
                </div>
            </div>

            <div class="item" style="height: 300px;">
                <img src="/cs/img/gallery/cs-image.jpg" alt="img2" class="carousel-image">
                <div class="carousel-caption">
                    <h3>Image 2</h3>
                    <p>The Second Picture To Our Super Cool Carousel.</p>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
