
<div id="headerwrap">
    <div class="container">
        <div class="header-welcome-block">
            <div class="row">
                <div class="col-sm-3">
                    <a href="http://www.ub.bw" target="_blank"><img src="{{ "/assets/img/UB-logo.png" | prepend: site.baseurl }}" class="img-responsive"></a>
                </div>
                <div class="col-sm-6">
                    <h1>FACULTY OF SCIENCE</h1><br />
                </div>
                <div class="col-sm-3">
                    <div class="row" id="social-row">
                        <div class="col-xs-4">
                            <div class="social">
                                <i class="fa fa-facebook-square fa-3x"></i>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="social">
                                <i class="fa fa-linkedin-square fa-3x"></i>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="social">
                                <i class="fa fa-google-plus-square fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form>
                            <div class="form-group">
                                <input type="search" class="form-control" id="searchbar" placeholder="Search Site">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
