
<div id="headerwrap">
    <div class="container">
        <div class="header-welcome-block">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ "/assets/img/UB-logo.png" | prepend: site.baseurl }}" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <h1>FACULTY OF SCIENCE</h1><br />
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="social">
                            <i class="fa fa-facebook-square fa-3x"></i>
                        </div>
                        <div class="social">
                            <i class="fa fa-linkedin-square fa-3x"></i>
                        </div>
                        <div class="social">
                            <i class="fa fa-google-plus-square fa-3x"></i>
                        </div>
                    </div>
                    <div class="row">
                        <form>
                            <div class="form-group">
                                <input type="search" class="form-control" id="searchbar" placeholder="Search Products">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
<!--
            <div class="row">
                
                <div class="col-sm-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-icon"></i>
                        <i class="fa fa-institution fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>Providing learning and teaching in Mathematics and the Sciences based in the Departments of Biological Sciences, Chemistry, Computer Science, Environmental Science, Geology, Physics and Mathematics.</p>
                </div>
                
                <div class="col-sm-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-icon"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>Growhouse of scientific research supported by facilities housing high tech equipment such as the Environmental Scanning Electron Microscope, X-Ray Diffractometer, Nuclear Magnetic Resonance, Mass Spectrometers and others.</p>
                </div>
                
                <div class="col-sm-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-icon"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>Implementing a strategy for Excellence, set to meet the relevant human resources requirements and the innovations emanating from research and knowledge development.</p>
                </div>
                
            </div>
-->
            
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
