
<div id="headerwrap">
    <div class="container">
        <div class="row">
                <img src="{{ "/assets/img/UB-logo.png" | prepend: site.baseurl }}" class="img-responsive">
                <h1>FACULTY OF SCIENCE</h1><br />
                <h5>Welcome To All Things Science In UB.</h5>
            <!--<div class="col-lg-8 col-lg-offset-2 himg">-->
            <!--    <img src="{{ "/assets/img/home-page-logo.png" | prepend: site.baseurl }}" class="img-responsive">-->
            <!--</div>-->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
