<!-- Fixed navbar -->
<nav class="navbar navbar-default" role="navigation" id="navbar">
    
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-2x"></i>
        </button>
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>
    </div>
    
    <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
            <li {% if page.title == "Home" %}class="active dropdown"{% endif %}>
                <a href="{{"/" | prepend: site.baseurl }}">HOME</a>
            </li>
            <li {% if page.title == "Departments" %}class="active dropdown"{% endif %} class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="{{"/departments/" | prepend: site.baseurl }}">
                    DEPARTMENTS<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{"/cs/" | prepend: site.baseurl }}">COMPUTER SCIENCE</a></li>
                    <li class="divider"></li>
                    <li><a href="{{"/bio/" | prepend: site.baseurl }}">BIOLOGY</a></li>
                    <li class="divider"></li>
                    <li><a href="{{"/chem/" | prepend: site.baseurl }}">CHEMISTRY</a></li>
                    <li class="divider"></li>
                    <li><a href="{{"/env_sci/" | prepend: site.baseurl }}">ENVIRONMENTAL SCIENCE</a></li>
                    <li class="divider"></li>
                    <li><a href="{{"/geo/" | prepend: site.baseurl }}">GEOLOGY</a></li>
                    <li class="divider"></li>
                    <li><a href="{{"/math/" | prepend: site.baseurl }}">MATHEMATICS</a></li>
                    <li class="divider"></li>
                    <li><a href="{{"/phys/" | prepend: site.baseurl }}">PHYSICS</a></li>
                </ul>
            </li>
            <li {% if page.title == "News and Announcements" %}class="active dropdown"{% endif %}>
                <a href="{{"/news/" | prepend: site.baseurl }}">NEWS &amp; ANNOUNCEMENTS</a>
            </li>
            <li {% if page.title == "People" %}class="active dropdown"{% endif %}>
                <a href="{{"/error/" | prepend: site.baseurl }}">RESEARCH</a>
            </li>
            <li {% if page.title == "People" %}class="active dropdown"{% endif %}>
                <a href="{{"/error/" | prepend: site.baseurl }}">STAFF</a>
            </li>
            <li {% if page.title == "About" %}class="active dropdown"{% endif %}>
                <a href="{{"/about/" | prepend: site.baseurl }}">ABOUT</a>
            </li>
            <li {% if page.title == "Contact" %}class="active dropdown"{% endif %}>
                <a href="{{"/contact/" | prepend: site.baseurl }}">CONTACT</a>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</nav>

<!--
<script>
    window.onload = function() {
        /* affix the navbar after scroll below header */
        $(window).off('.affix')
        $('#navbar').removeData('bs.affix').removeClass('affix affix-top affix-bottom')
        $('#navbar').affix({ offset: $('#headerwrap').outerHeight()})
    }
    window.onresize = function() {
        /* affix the navbar after scroll below header */
        $(window).off('.affix')
        $('#navbar').removeData('bs.affix').removeClass('affix affix-top affix-bottom')
        $('#navbar').affix({ offset: $('#headerwrap').outerHeight()})
    }
</script>
-->
