<nav class="navbar navbar-default" role="navigation" id="navbar-department">

    <div class="container">
    
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-department">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">NAVIGATION</a>
        </div>

        <div class="navbar-collapse collapse navbar-right" id="nav-department">
            <ul class="nav navbar-nav">

                <li {% if page.title == "Biological Sciences Home" %}class="active"{% endif %}><a href="/bio/">Home</a></li>
                <li {% if page.title == "Biological Sciences - Programmes" %}class="active dropdown"{% endif %}>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/bio/programmes.html">
                        **Programmes of Study**<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/bio/bio-programmes.html/">See All Programmes</a></li>
                        <li class="divider"></li>
                        <li><a href="/bio/bio-programmes.html/#ugp">Undergraduate Programmes</a></li>
                        <li class="divider"></li>
                        <li><a href="/bio/bio-programmes.html/#cmp">Combined Majors</a></li>
                        <li class="divider"></li>
                        <li><a href="/bio/bio-programmes.html/#mos">Masters Programmes</a></li>
                        <li class="divider"></li>
                        <li><a href="/bio/bio-programmes.html/#mop">Masters of Philosopy</a></li>
                    </ul>
                </li>
                <li {% if page.title == "Biological Sciences - Partnerships" %}class="active"{% endif %}><a href="/bio/bio-partnerships.html">Partnerships</a></li>
                <li {% if page.title == "Biological Sciences - Staff" %}class="active"{% endif %}><a href="/bio/bio-staff.html">Staff</a></li>
                <li {% if page.title == "Biological Sciences - Research" %}class="active"{% endif %}><a href="/bio/bio-research.html">Research</a></li>
                <li {% if page.title == "BIO Communities" %}class="active"{% endif %}><a href="/bio/bio-communities.html">Communities</a></li>
                <li {% if page.title == "BIO Gallery" %}class="active"{% endif %}><a href="/bio/bio-gallery.html">*Gallery*</a></li>
                <li {% if page.title == "Biological Sciences - About Us" %}class="active"{% endif %}><a href="/bio/bio-about.html">About</a></li>
                <li {% if page.title == "Biological Sciences - Contact" %}class="active"{% endif %}><a href="#">Contact</a></li>
            </ul>

        </div><!--/.nav-collapse -->
    
    </div>

</nav>


<!--
<script>
    window.onload = function() {
        /* affix the navbar after scroll below header */
        $(window).off('.affix')
        $('#navbar-department').removeData('bs.affix').removeClass('affix affix-top affix-bottom')
        $('#navbar-department').affix({ offset: $('#headerwrap').outerHeight() + $('wrap').outerHeight()})
    }
    window.onresize = function() {
        /* affix the navbar after scroll below header */
        $(window).off('.affix')
        $('#navbar-department').removeData('bs.affix').removeClass('affix affix-top affix-bottom')
        $('#navbar-department').affix({ offset: $('#headerwrap').outerHeight() + $('wrap').outerHeight()})
    }
</script>-->
