/*************************************************************************************************
* Profile Styling
*************************************************************************************************/
.sidebar {
    text-align: left;
    color: #ffffff;
    background-color: #e74c3c;
    /*    background-color: #b72d1f;*/
    overflow: hidden;
    display: block;
    padding: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.sidebar .heading {
    position: relative;
}

.section-item-details {
    word-wrap: break-word;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 25px;
}

.section-item-details p {
    color: #fff;
}

.sidebar .heading .title {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    animation-delay: 0.1s;
    animation-name: fadeIn;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    text-align: center;
}

.icon {
    padding: 10px 15px;
}


.section-wrapper {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 24px;
    padding: 24px 15px;
}


.section-icon {
    padding: 20px 15px;
    text-align: center;
}

.custom-content {
    animation-delay: 0.1s;
    animation-name: fadeIn;
}

.custom-content-wrapper {
    animation-delay: 0.2s;
    animation-name: fadeIn;
    padding-right: 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid #bdbdbd;
}